.header {
  text-align: center;
  background: #33b5e5;
  color: #fff;
  padding: 12px;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links > li {
  display: inline;
}
.links a:hover {
  text-decoration: underline;
}

.links > li::after {
  content: " | ";
}
.links > li:last-child::after {
  content: "";
}

a {
  color: #ffffff;
  text-decoration: none;
}
