<div class="header">
  <h1>MyStore</h1>
  <ul class="links">
    <li>
      <a routerLink="products">Product List</a>
    </li>
    <li class="pe-1 position-relative">
      <a routerLink="cart">
        Cart
        <i class="bi bi-cart4 ms-1"></i>
        <span
          *ngIf="totalCount"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"
          style="--bs-bg-opacity: 0.5"
        >
          {{ totalCount }}
        </span>
      </a>
    </li>
  </ul>
</div>
